/* || General setup */

body {
  background-image: url('https://cdn.glitch.global/bb69c56f-ec85-4da5-92da-35d94682eef8/rain.jpeg?v=1674768498874');
}

/* || typography */

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
}

h1 {
  font-size: 6rem;
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0px;
}

h3 {
  font-size: 1rem;
  margin: 0px;
}
  
h4 {
  font-size: 0.75rem;
  color: #000000;
  margin: 0px;
}

p {
  font-size: 0.5rem;
  color: #000000;
  margin: 0px;
}

.main {
  text-align: center;
  margin: 60px;
  margin-top: 20px;
}

.module {
  border: 1px solid black;
  background-color: #FFFFFF;
}

.head {
  text-align: right
}

.inline-block-child {
  display: inline-block;
}

.main-top {
  margin-bottom: 20px;
}

.inline-block-child-left {
  display: inline-block;
  text-align: right;
  margin-right: 20px;
}

.inline-block-child-right {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

.inline-block-child {
  width: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px
}

.inline-block-child-cam {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.inline-block-child-1 {
  text-align: left;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 75px;
}

.inline-block-child-2 {
  text-align: center;
  display: inline-block;
}

.inline-block-child-3 {
  text-align: right;
  display: inline-block;
  margin-left: 50px;
  margin-right: 20px;
  width: 120px;
}

.module-row {
  margin-top: 10px;
  margin-bottom: 10px
}

.weather {
  margin-top: 10px;
  margin-bottom: 10px;
}

.empty {
  color: #FFFFFF;
}